/*Improve Color Contrast*/

a, #adminmenu a, #poststuff #edButtonPreview, #poststuff #edButtonHTML, #the-comment-list p.comment-author strong a, #media-upload a.del-link, #media-items a.delete, .plugins a.delete, .ui-tabs-nav a {
color: #01466D;
}
/*Add focus on links*/

#wphead #viewsite a:focus, #adminmenu a:focus, #adminmenu ul.wp-submenu a:focus, #the-comment-list .comment a:focus, #rightnow a:focus, #media-upload a.del-link:focus, div.dashboard-widget-submit input:focus, .subsubsub a:focus, .subsubsub a.current:focus, .ui-tabs-nav a:focus, .plugins .inactive a:focus, #all-plugins-table .plugins .inactive a:focus, #search-plugins-table .plugins .inactive a:focus {
color: #D54E21;
}
#adminmenu .wp-submenu a:focus {
background-color: #EAF2FA !important;
color: #333333 !important;
}
/*Increase Site Title Size (by Otto)*/
.wp-admin #wphead {
	height: 42px;
}
.wp-admin #wphead h1 {
font-size: 28px;
#font-family: "HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,sans-serif; #uncomment this if you want to go to the sans-serif font
}
.wp-admin #header-logo {
background-image: url("images/admin-logo.png");
background-size:32px 32px;
width:32px; height:32px;
}
.wp-admin .icon32 {
display:none;}

/*Reduce Page Heading Size*/

.wrap h2 {
font-size: 22px;
line-height: 28px;
padding: 9px 15px 2px 0;
}

/*Remove pointless publish icon*/

.curtime #timestamp {
background-image: none;
}
.curtime #timestamp {
background-position: left top;
background-repeat: no-repeat;
padding-left: 0;
}

/* main page background */
html, .wp-dialog {
    background-color: #e2f59f !important;
}

/* new/edit post background */
#post-body {
    background: none repeat scroll 0 0 #e2f59f !important;
    border-bottom-color: #e2f59f !important;
    border-top-color: #e2f59f !important;
}

/* appearance/themes background and padding */
.themes-php .wrap, .theme-install-php .wrap, .appearance_page_custom-background .wrap, .appearance_page_custom-header .wrap{
background-color: #F5F5f5 !important;
background-image: -moz-linear-gradient(center top , #F9F9F9, #F5F5F5) !important;
padding: 0 10px !important;
}

.themes-php .nav-tab-active, .theme-install-php .nav-tab-active {
font-weight: bold;
}
.themes-php .nav-tab:hover, .theme-install-php .nav-tab:hover {
text-decoration: underline;
}

/*

.themes-php .nav-tab:hover, .themes-php .nav-tab-active {
    border-color: #ff0000;
    border-width: 1px;
	background-color: #F5F5f5 !important;	
}
.themes-php .nav-tab {
background-color: #83ae2c;
}
*/

/* appearance/menus background */
.menu-edit #post-body {
background-color: #F5F5F5 !important;
background-image: -moz-linear-gradient(center top , #F9F9F9, #F5F5F5) !important;
}

/* appearance/menus header item type text */
.item-type, .postbox-title-action a{
color: #ffffff !important;
}
/* appearance/menus header item type position */
.item-controls{
padding: 7px 0 !important;
}


/* mce Editor background */
.mceIframeContainer {
	background-color: #ffffff;
}

/* dark green font for menu headings, links, tabs etc */
a, #poststuff #edButtonPreview, #poststuff #edButtonHTML, #the-comment-list p.comment-author strong a, #media-upload a.del-link, #media-items a.delete, .plugins a.delete, .ui-tabs-nav a {
	color: #486D25 !important;
}

/* main green bg on boxes & widget headers */
.widget .widget-top, .postbox h3, .stuffbox h3{
/*
	background: #83ae2c !important;
	color: #ffffff !important;
	text-shadow: none !important;
	font:13px/18px Georgia,"Times New Roman","Bitstream Charter",Times,serif !important;
*/
	}

/* more widget headers */
#widget-list .widget-top,
.widget .widget-top,
.postbox h3,
.stuffbox h3,
.widefat thead tr th,
.widefat tfoot tr th,
h3.dashboard-widget-title,
h3.dashboard-widget-title span,
h3.dashboard-widget-title small,
.find-box-head,
.sidebar-name,
#nav-menu-header,
#nav-menu-footer,
.menu-item-handle,
#fullscreen-topbar {
	background-color: #83ae2c; /* Fallback */
	background-image: -ms-linear-gradient(bottom, #56822C, #83ae2c); /* IE10 */
	background-image: -moz-linear-gradient(bottom, #56822C, #83ae2c); /* Firefox */
	background-image: -o-linear-gradient(bottom, #56822C, #83ae2c); /* Opera */
	background-image: -webkit-gradient(linear, left bottom, left top, from(#56822C), to(#83ae2c)); /* old Webkit */
	background-image: -webkit-linear-gradient(bottom, #56822C, #83ae2c); /* new Webkit */
	background-image: linear-gradient(bottom, #56822C, #83ae2c); /* proposed W3C Markup */
	color: #ffffff !important;
	text-shadow: none !important;
	font:13px/18px Georgia,"Times New Roman","Bitstream Charter",Times,serif !important;
}


/* main green bg on table headers */
.metabox-prefs, h1#site-heading a, .widefat thead tr th, .widefat tfoot tr th, h3.dashboard-widget-title, h3.dashboard-widget-title span, h3.dashboard-widget-title small, .find-box-head, #wphead {
background: #83ae2c !important; 
color: #ffffff !important;
}

/* table headers */
.widefat th {
color: #112845 !important;
text-shadow: none !important;
}
/* White Font for Links on Table Headers */
.widefat thead tr th a, .widefat tfoot tr th a{
color:#ffffff !important; 
/* font-size:11px; */
font-weight:normal;
}

/* menu */
.wp-menu-arrow div {
    background: no-repeat scroll right top transparent !important;
}

/* menu arrow replacement image */
 #adminmenu .wp-menu-arrow {
    background-color: transparent !important;
    /*background-image: none !important;*/
	background:url("images/menu-arrow-frame.png") no-repeat transparent !important;
}

/* currently selected admin menu header text & background colour */
#adminmenu li.wp-has-current-submenu a.wp-has-current-submenu{
	text-shadow: none !important;
	color: #EDEA00 !important;
	background-color: #486D25 !important; /* Fallback */
	background-image: none;
}

/* regular admin menu header arrow */
#adminmenu .wp-has-submenu:hover .wp-menu-toggle, #adminmenu .wp-menu-open .wp-menu-toggle {
background: transparent url(images/arrows-dark.png) no-repeat -2px 6px !important;
}

/* currently selected admin menu header arrow */
#adminmenu li.wp-has-current-submenu.wp-menu-open .wp-menu-toggle, #adminmenu li.wp-has-current-submenu:hover .wp-menu-toggle {
background: transparent url(images/arrows.png) no-repeat -1px 6px !important;
background-image: url(images/arrows.png) !important;
}

/* regular admin menu header background */
#adminmenu a.menu-top{
	background-color: #83ae2c; /* Fallback */
	background-image: -ms-linear-gradient(bottom, #56822C, #83ae2c); /* IE10 */
	background-image: -moz-linear-gradient(bottom, #56822C, #83ae2c); /* Firefox */
	background-image: -o-linear-gradient(bottom, #56822C, #83ae2c); /* Opera */
	background-image: -webkit-gradient(linear, left bottom, left top, from(#56822C), to(#83ae2c)); /* old Webkit */
	background-image: -webkit-linear-gradient(bottom, #56822C, #83ae2c); /* new Webkit */
	background-image: linear-gradient(bottom, #56822C, #83ae2c); /* proposed W3C Markup */
	color: #ffffff !important;
}


/* main header */
.wp-admin #wphead{
	margin: 0 0 0 -15px !important;
	border-color: #486D25 !important;
}
#wphead h1 {
	padding-top: 5px;
}

/* header logo fix */
#header-logo {
	margin: 5px 7px 0 15px !important; 
}

/* screen options */
#screen-options-wrap, #contextual-help-wrap {
    background-color: #83ae2c;
    border-color: #486D25;
	color: #ffffff;
}

/* screen options & help button */
#screen-options-link-wrap,
#contextual-help-link-wrap {
	background-color: #83ae2c; /* Fallback */
	border-right: 1px solid transparent;
	border-left: 1px solid transparent;
	border-bottom: 1px solid transparent;
	background-image: -ms-linear-gradient(bottom, #56822C, #83ae2c); /* IE10 */
	background-image: -moz-linear-gradient(bottom, #56822C, #83ae2c); /* Firefox */
	background-image: -o-linear-gradient(bottom, #56822C, #83ae2c); /* Opera */
	background-image: -webkit-gradient(linear, left bottom, left top, from(#56822C), to(#83ae2c)); /* old Webkit */
	background-image: -webkit-linear-gradient(bottom, #56822C, #83ae2c); /* new Webkit */
	background-image: linear-gradient(bottom, #56822C, #83ae2c); /* proposed W3C Markup */
}

/* screen options & help button text */
#screen-meta a.show-settings{
text-shadow: none !important;
	color: #ffffff !important;
}

/* screen options & help button arrow */
#screen-meta a.show-settings,
.toggle-arrow {
	background: transparent url(images/arrows-dark.png) no-repeat right 3px;
}

/* screen options & help button arrow */
#screen-meta .screen-meta-active a.show-settings {
	background: transparent url(images/arrows-dark.png) no-repeat right -33px;
}

/* post box header arrow */
.meta-box-sortables .postbox:hover .handlediv {
	background: transparent url(images/arrows-dark.png) no-repeat 6px 7px;
}

/* user info arrow (top-right corner) */
#user_info_arrow {
	background: transparent url(images/arrows-dark.png) no-repeat 6px 5px;
}
#user_info:hover #user_info_arrow,
#user_info.active #user_info_arrow {
	background: transparent url(images/arrows.png) no-repeat 6px 5px;
}

/* update nag position fix*/
#update-nag, .update-nag {
margin-left: 0 !important;
}

/* editor toolbar background */
#poststuff #editor-toolbar{
	background: #83ae2c !important; 
	color: #ffffff !important;
}

/* podcast form */
.podcast_form {
    background-color:#fff;
    color:#111;
    border-radius: 5px;
    -moz-border-radius: 5px;    
    -moz-box-shadow: 5px 5px 5px #333; 
    -webkit-box-shadow: 5px 5px 5px #333; 
    box-shadow: 5px 5px 5px #333;
    background-image: -moz-linear-gradient(top, #fafafa, #fff); 
    background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #fafafa),color-stop(1, #fff));  
    margin:20px 0 10px 0;
    overflow:hidden;
    padding:10px;    
}