/* Fonts */
@font-face {
  font-family: 'HarabaraRegular';
  src: url("type/harabara-webfont.eot");
  src: local("?"), url("../type/harabara-webfont.woff") format("woff"), url("../type/harabara-webfont.ttf") format("truetype"), url("../type/harabara-webfont.svg#webfontCLJ3VJzF") format("svg"); }

/* COLORS */
body {
  background: #444444 top left repeat;
  font-family: Arial, Tahoma, sans-serif; }

#header {
  background-color: #83ae2c; }

#footer {
  background-color: #83ae2c; }

a:link {
  text-decoration: none;
  outline: none;
  color: #486d25;
  font-weight: bolder; }

a:visited {
  color: #486d25;
  font-weight: bolder; }

a:hover {
  color: #2b9417;
  text-decoration: underline;
  font-weight: bolder; }

a:active, a:focus {
  color: black;
  font-weight: bolder; }

code, pre {
  color: #c33; }

/* very optional, but still useful. W3C uses about the same colors for codes */
/* Colour Scheme */
/* Text colours */
.whitetext {
  color: white; }

.blacktext {
  color: black; }

/* IE HACKS
-------------------------------------------------------------- */
body {
  text-align: center; }

.container {
  text-align: left; }

ol {
  margin-left: 2em; }

sup {
  vertical-align: text-top; }

sub {
  vertical-align: text-bottom; }

html > body p code {
  white-space: normal; }

hr {
  margin: -8px auto 11px; }

fieldset {
  padding-top: 0; }

/* Utility Classes */
/* --------------- */
/* WP Styling */
/* ---------- */
.small {
  font-size: .8em;
  margin-bottom: 1.875em;
  line-height: 1.5em; }

.wp-caption {
  background-color: #f3f3f3;
  border: 1px solid #dddddd;
  -webkit-border-radius: 3px 5px 5px 5px;
  -moz-border-radius: 3px 5px 5px 5px;
  border-radius: 3px 5px 5px 5px;
  /* useful if you don't want a bg color from leaking outside the border: */
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  margin: 10px;
  padding: 5px;
  text-align: center; }

.frontpagefeature, .single #content, .archive .shows, .page-template-news-archive-php .posts, .category-podcasts .post, .page .posts {
  color: #111;
  -webkit-border-radius: 5px 5px 5px 5px;
  -moz-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
  /* useful if you don't want a bg color from leaking outside the border: */
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  -moz-box-shadow: 5px 5px 5px #333333;
  -webkit-box-shadow: 5px 5px 5px #333333;
  box-shadow: 5px 5px 5px #333333;
  background-color: white;
  background-image: -webkit-linear-gradient(top, #fafafa, white);
  background-image: -moz-linear-gradient(top, #fafafa, white);
  background-image: -ms-linear-gradient(top, #fafafa, white);
  background-image: -o-linear-gradient(top, #fafafa, white);
  background-image: linear-gradient(top, #fafafa, white);
  margin: 0 0 10px 0;
  overflow: hidden;
  padding: 10px; }

.single #content h2, .archive .shows h2, .page .posts h2, .category .post h2 {
  letter-spacing: 0.05em;
  font-weight: normal;
  margin-top: 10px; }

.single #content p, .archive .shows p, .page .posts p, .category .posts p {
  margin-bottom: 10px;
  font-family: Arial, sans-serif; }

.home #content .posts {
  background: none;
  margin: 0;
  overflow: hidden;
  padding: 0;
  /* width: 740px; */ }

/* Nicolas Gallagher's micro clearfix */
.row:before, .row:after, .clearfix:before, .clearfix:after {
  content: "";
  display: table; }

.row:after, .clearfix:after {
  clear: both; }

.row, .clearfix {
  zoom: 1; }

#breadcrumbs,
div#sidebar .widget h2 {
  -webkit-border-radius: 5px 5px 5px 5px;
  -moz-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
  /* useful if you don't want a bg color from leaking outside the border: */
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  background-color: #486d25;
  background-image: -webkit-linear-gradient(top, #56822c, #445533);
  background-image: -moz-linear-gradient(top, #56822c, #445533);
  background-image: -ms-linear-gradient(top, #56822c, #445533);
  background-image: -o-linear-gradient(top, #56822c, #445533);
  background-image: linear-gradient(top, #56822c, #445533);
  color: white;
  font-family: 'HarabaraRegular',Arial,sans-serif;
  font-size: 1.5em;
  font-weight: 100;
  letter-spacing: 0.1em;
  line-height: normal;
  margin-bottom: 10px;
  padding: 5px 10px; }

#breadcrumbs a, #breadcrumbs a:hover,
div#sidebar .widget h2 a, div#sidebar .widget h2 a:hover {
  color: white;
  padding: 0;
  font-weight: bold; }

#breadcrumbs a:hover,
div#sidebar .widget h2 a:hover {
  border-bottom: 1px solid white; }
