/* structure */
body{
  margin: 0;
  padding: 0;
  
}

#page {
  text-align: left;
}

#page #header {
     /*width: 1000px;
     margin:0 auto;*/
}

#page #header #logo {
/* padding-bottom: 1em; */
}

#page .header-menu {
    /* clear: both;
     width: 1000px;
     margin:0 auto; */
     /* padding: 0pt 80px; */
}

#page #main {
  background-color:#444; 
  /*padding:0 10px 0px 10px;*/
     width: 1000px;
     margin:0 auto;
  /* margin-bottom:10px; */
}

#page #main #container {
  background-color: #444;
  margin-top:10px; 
  
}

#page #main #container #content{
  float:left;
width: 720px;
}
.home #page #main #container #content{
width: 740px;
}


#page #main #container #sidebar{
 display: block;
	float: right; 
	border: none;
	width: 250px;
}
#page #main #container  #sidebar .widget{
  margin-bottom:10px;
color:#000;
}

#page #above-footer-widgets {
     /* margin-left: 80px; */
     width: 1000px;
     margin:0 auto;
}

#page #footer{
  /*
  padding:0 10px 0 10px;
  width: 1000px;
  margin:0 auto;
  */
}


/* multi column */

/* 2 columns */
.twocol{

	margin:0 0 10px 0;
	overflow:hidden;
	padding:0;
}

.twocol div.twocol_content{
  /*
	background-color:#486D25;
	color:#fff;
    border-radius: 5px;
    -moz-border-radius: 5px;    

    background-image: -moz-linear-gradient(top, #56822c, #445533); 
    background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #56822c),color-stop(1, #445533));
  */
	font: 1em Arial,Tahoma,sans-serif;
	line-height:1.3em;
    /*width: 345px; */
	width: 300px;
	padding: 10px;
	float: left;
	min-height:170px;
	position:relative;
	display:block;
}
.twocol div img{margin:0;padding:0;}
.twocol div span{
	font-weight:600;
	padding: 0px 0px 0px 50px;
	display:block;
	position:absolute; top:50%; height:180px; margin-top:-90px;
}	
.twocol_1 {
	margin: 0 10px 0 0;
}

.twocol_2 {
	margin: 0 0 0 0;
}

.twocol_content h2 {
    border-bottom: 1px solid #333333;
}
.twocol_content ul {
    margin: 9px 0 9px 9px;
    padding: 3px 0 0 18px;
}
.twocol_content ul li {
    line-height: 18px;
}

/* 3 columns */

.threecol{

	margin:0 0 10px 0;
	overflow:hidden;
	padding:0;
}

.threecol div.threecol_content{
	background-color:#486D25;
	color:#fff;
    border-radius: 5px;
    -moz-border-radius: 5px;    

    background-image: -moz-linear-gradient(top, #56822c, #445533); 
    background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #56822c),color-stop(1, #445533));  
	font: 1em Arial,Tahoma,sans-serif;
	line-height:1.3em;
    width: 220px;
	padding: 10px;
	float: left;
	min-height:265px;
	position:relative;
	display:block;
}
.threecol div img{margin:0;padding:0;}
.threecol div span{
	font-weight:600;
	padding: 0px 0px 0px 50px;
	display:block;
	position:absolute; top:50%; height:180px; margin-top:-90px;
}	
.threecol_1 {
	margin: 0 10px 0 0;
}
.threecol_2 {
	margin: 0 10px 0 0;
}
.threecol_3 {
	margin: 0 0 0 0;
}

/* end multi columns */


