/* faq */
#post-82 h2{
border-bottom:1px solid #333333;
}

/* mailing list */
#mailup h2 {background-color:#486D25;color:#fff;overflow:hidden;margin-top:0px;margin-bottom:10px;width:auto;
font: normal 1.5em Arial, Tahoma, sans-serif;color:#fff;padding-left:5px;padding-bottom:1px;}
#mailup form {margin:0;padding:0;}
#mailup label {font-weight:normal;margin:4px 0px 0px 0px; float: left;}
#mailup input {border:1px solid #333;margin:0 5px;background:#f4f4f4;color:#8ab2bc;padding:2px 0 2px 0; float: left; width: 230px}
#mailup input:focus {color:#333;background:#f9f9f9;border:1px solid red;}
#mailup input.submit {margin: 0; padding:1px;background:#486D25;color:#fff; float: right; width: 80px;}
#mailup p {margin:0;padding:0;}




.show .wp-caption, .shows .wp-caption {
/* width:310px; */
}

.taxonomy .wp-caption {
width:135px;
}



.post,.taxonomy .shows_container{
border-bottom:1px dotted;
margin-bottom: 10px;
}
.shows_container {
overflow:hidden;
width: 100%;
}

.shows_container h4 {
  margin: 0em 0 1em;
  font-size:1.5em;
}
.shows_container .entry-utility{
padding-top:10px;
}



.type-post {
  overflow:hidden;text-align:left;}
.type-post p {color:#111;}
.entry p {margin:0 0 12px 0;}

.entry ul{
margin:9px 0 9px 9px;
padding:3px 0 0 18px;
}
.entry ul li {
	list-style: disc outside none;
	padding-left: 5px;
}
