/* default styles for all widgets */
.widget-container {
  margin-top: 10px;
  background-color: #ccc; }

.sub-title,
.widget-title {
  background-color: #486d25;
  color: white;
  overflow: hidden;
  margin-top: 0px;
  margin-bottom: 0px;
  width: auto;
  color: white;
  padding-left: 5px;
  padding-bottom: 1px; }

/* widget areas */
#below-header-widgets {
  float: left;
  margin: 20px 0px 10px 0px;
  position: relative;
  left: 10px; }

.above-entry-widgets {
  padding-bottom: 10px; }

/* below posts widget */
div#below-posts-widgets {
  margin: 0 0 10px 0;
  overflow: hidden;
  padding: 0; }

div#below-posts-widgets div.widget {
  width: 345px;
  float: left;
  min-height: 382px;
  position: relative;
  display: block; }

#above-footer-widgets {
  padding-top: 10px; }

div#sidebar .widget {
  color: #333333;
  -webkit-border-radius: 5px 5px 5px 5px;
  -moz-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
  /* useful if you don't want a bg color from leaking outside the border: */
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  -moz-box-shadow: 5px 5px 5px #333333;
  -webkit-box-shadow: 5px 5px 5px #333333;
  box-shadow: 5px 5px 5px #333333;
  background-color: white;
  background-image: -webkit-linear-gradient(top, #fafafa, white);
  background-image: -moz-linear-gradient(top, #fafafa, white);
  background-image: -ms-linear-gradient(top, #fafafa, white);
  background-image: -o-linear-gradient(top, #fafafa, white);
  background-image: linear-gradient(top, #fafafa, white);
  line-height: 1.3em;
  padding: 10px; }

/*
div#sidebar .widget h2{
 	@include rounded (5px);
	@include gradient (top, $green_box_gradient2, $green_box_gradient1, $dark_green);	 
	color:$white_text;
	/*font-family: 'HarabaraRegular',Arial,sans-serif; */
	/*font-size: 20px; */
	@include harabara;
}
*/
/* default wordpress widgets */
/* search widget */
#searchsubmit {
  background: none repeat scroll 0 0 #486d25;
  color: white;
  padding: 1px; }

.widget_gce_widget h2 {
  margin-bottom: 11px; }

.widget_links h2 {
  margin-bottom: 10px; }

.blogroll li {
  border-bottom: 1px dotted #BBBBBB; }

.blogroll li a {
  padding: 0; }

/* page widgets */
.page-title {
  background-color: #486d25;
  overflow: hidden;
  margin-top: 0px;
  margin-bottom: 10px;
  width: auto;
  color: white;
  padding-left: 5px;
  padding-bottom: 1px; }

.page-title a {
  color: white; }

/* loop widgets */
.post-title {
  font-weight: bold;
  margin: 5px 0 5px; }

.postdate, .postauthor, .postcategories {
  text-transform: lowercase;
  margin-left: 0px; }

/* specific widgets */
/* gigx slides? */
.gigx-slideshow {
  height: 262px; }

/* gigx_slides */
.widget_gigx_slide_widget {
  margin-bottom: 10px; }

/* wp_bannerize */
.wp_bannerize {
  text-align: left;
  display: block; }

.wp_bannerize a {
  margin: 0;
  padding: 0; }

.wp_bannerize img {
  margin: 0;
  padding: 0; }

/* gigx recent posts */
.widget_gigxrecentposts {
  color: #333333;
  -webkit-border-radius: 5px 5px 5px 5px;
  -moz-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
  /* useful if you don't want a bg color from leaking outside the border: */
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  background-color: #486d25;
  background-image: -webkit-linear-gradient(top, #56822c, #445533);
  background-image: -moz-linear-gradient(top, #56822c, #445533);
  background-image: -ms-linear-gradient(top, #56822c, #445533);
  background-image: -o-linear-gradient(top, #56822c, #445533);
  background-image: linear-gradient(top, #56822c, #445533);
  margin: 0;
  overflow: hidden;
  padding: 10px 10px 0 10px; }

.widget_gigxrecentposts h2.widget-title {
  background-color: transparent;
  color: white;
  font-family: 'HarabaraRegular',Arial,sans-serif;
  font-size: 1.5em;
  font-weight: 100;
  letter-spacing: 0.1em;
  line-height: normal;
  margin: 0 0 10px 0; }

.widget_gigxrecentposts h2.widget-title a {
  color: white; }

.widget_gigxrecentposts ul.gigx-recent-posts li {
  -webkit-border-radius: 5px 5px 5px 5px;
  -moz-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
  /* useful if you don't want a bg color from leaking outside the border: */
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  -moz-box-shadow: 5px 5px 5px #333333;
  -webkit-box-shadow: 5px 5px 5px #333333;
  box-shadow: 5px 5px 5px #333333;
  background-color: white;
  background-image: -webkit-linear-gradient(top, #fafafa, white);
  background-image: -moz-linear-gradient(top, #fafafa, white);
  background-image: -ms-linear-gradient(top, #fafafa, white);
  background-image: -o-linear-gradient(top, #fafafa, white);
  background-image: linear-gradient(top, #fafafa, white);
  color: #333333;
  line-heigh: 1.3em;
  overflow: hidden;
  margin: 0 0 10px 0;
  padding: 10px; }

.widget_gigxrecentposts ul.gigx-recent-posts li span.date {
  font-family: Arial,Tahoma,sans-serif;
  text-transform: lowercase;
  letter-spacing: normal; }

.widget_gigxrecentposts img.recent-posts-thumb {
  float: left;
  text-align: left;
  display: inline;
  margin: 0;
  padding-right: 10px; }

/* frontpage news */
div#below-posts-widgets div#gigxrecentposts-7 {
  margin: 0 10px 0 0; }

/* frontpage podcasts */
div#below-posts-widgets div#gigxrecentposts-3 {
  margin: 0 0 0 0; }

/* sidebar widgets */
/* listen */
.rounded_5 {
  -webkit-border-radius: 5px 5px 5px 5px;
  -moz-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
  /* useful if you don't want a bg color from leaking outside the border: */
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  background: none repeat scroll 0 0 white; }

/* tags */
.tagcloud, .ctc {
  margin-top: 10px; }
