// colours

$background: #444444;

$main_green: #83ae2c;
$dark_green: #486D25;
$hover_green: #2b9417;

$yellow: #edea00;
$red: #ff0000;

$link_focus: #d54e21;


// text colours
$black_text: #000000;
$dark_grey_text: #111111;
$medium_grey_text: #333333;
$blue_text: #01466d;
$white_text: #ffffff;


// background colours
$light_yellow_bg: #e2f59f;
$admin_bg: #eaf2fa;
$caption_bg: #f3f3f3;
$caption_border: #dddddd;


// gradient colours 
$white_box_gradient1: #fafafa;
$white_box_gradient2: $white_text;

$grey_box_gradient1: #f9f9f9;
$grey_box_gradient2: $caption_bg;

$green_box_gradient1: #445533;
$green_box_gradient2: #56822c;

$green_title_gradient1: #56822c; 
$green_title_gradient2: $main_green;
