@import "colours";
@import "fonts";
@import "mixins";

//$purple: #eef6f7;
//$purplelight: lighten($purple,4%);

//h1{color: $purple; background-color: $purplelight;}

/* Fonts */
@font-face {
	@include harabara-setup;
}

/* COLORS */

body {background:$background top left repeat;font-family:Arial, Tahoma, sans-serif;}
#header {background-color:$main_green; }
#footer {background-color:$main_green; }

a:link {text-decoration: none;outline:none;color:$dark_green;}
a:visited {color: $dark_green; font-weight:bolder;}
a:hover {color: $hover_green; text-decoration: underline;}
a:active, a:focus {color: $black_text;}
code, pre { color: #c33; } /* very optional, but still useful. W3C uses about the same colors for codes */

/* Colour Scheme */



/* Text colours */
.whitetext {
	color: $white_text;
}
.blacktext {
	color: $black_text;
}



/* IE HACKS
-------------------------------------------------------------- */

body { text-align:center; }
.container { text-align:left; }
ol { margin-left:2em; }
sup { vertical-align:text-top; }
sub { vertical-align:text-bottom; }
html>body p code { white-space:normal; }
hr { margin:-8px auto 11px; }
fieldset { padding-top:0; }

/* Utility Classes */
/* --------------- */

/* WP Styling */
/* ---------- */


.small {
	font-size:.8em;
	margin-bottom:1.875em;
	line-height:1.5em;
}

.wp-caption {  
	text-align: left;
}
.wp-caption img{
	border: 1px solid $caption_border;
	margin: 5px 0 0 0;
}
.wp-caption a:hover, .entry .wp-caption a:hover {
	text-decoration: none;
	border-bottom: 0;
}

.wp-caption p.wp-caption-text {
	font-size:.8em;
	line-height:1.5em;
	padding: 3px 4px 3px 4px;
	margin: 0 8px 0 0;
	background-color: $caption_bg;
	border-left: 1px solid $caption_border;
	border-right: 1px solid $caption_border;
	border-bottom: 1px solid $caption_border;	
}

// single posts //
.single-post img.alignleft {
	border: 1px solid $caption_border;
	margin: 5px 10px 0 0;
}

.entry a:hover {
	text-decoration: underline;
}

.frontpagefeature,
.single #content,
.error404 #content,
.page-template-news-archive-php .posts,
.non_homepage .posts,
.category .post,
.archive .shows, // single show archive result
.search-results .post, // single post search result
.search-results .shows, // single show search result
.search-no-results .posts
//.page .posts
{
	color:#111;
	@include rounded(5px);    
	@include shadow(5px,#333);
	@include gradient(top, $white_box_gradient1, $white_box_gradient2,$white_box_gradient2);	 
	margin:0 0 10px 0;
	overflow:hidden;
	padding:10px 10px 0 10px;
}
.search-results .gigx_slide { // single slide search result
	display: none;
}

.single #content h2, .archive .shows h2, .page .posts h2, .category .post h2{
	letter-spacing: 0.05em;
	font-weight:normal;
	margin-bottom:10px;
}

.single #content p, .archive .shows p, .page .posts p, .category .posts p{
	margin-bottom:10px;
	font-family: Arial, sans-serif;
}
.home #content .posts{
	background:none;
	margin:0 ;
	overflow:hidden;
	padding:0;
}

@include clearfix();

// breadcrumbs
#breadcrumbs,
div#sidebar .widget h2,
div.navigation
{
 	@include rounded (5px);
	@include gradient (top, $green_box_gradient2, $green_box_gradient1, $dark_green);	 
	color:$white_text;
	//@include harabara;
	@include arial;
	margin-bottom: 10px;
	padding:5px 10px;
}
div.navigation{
   //height: 30px;
   height: 20px;
}

#breadcrumbs{
	//margin-bottom: 10px;
}

#breadcrumbs a, #breadcrumbs a:hover,
div#sidebar .widget h2 a,
div#sidebar .widget h2 a:hover,
.navigation a
{
	color: $white_text;
	padding: 0;
}
#breadcrumbs a:hover,
div#sidebar .widget h2 a:hover,
.navigation a:hover
{
	border-bottom:1px solid $white_text;
}

.home #breadcrumbs{
   display: none;
}

.nav-next{
   float: right;
   text-align: right;
}
.nav-previous{
   float: left;
   text-align: left;
}

/* Headers */
h1,h2 {
	@include harabara;
}
h3 {
	font: bold 1.2em sans-serif;
}

.shows-image, .shows-thumb{
   margin-right: 10px;
   margin-bottom: 10px; 
}

#searchform div{margin-bottom: 10px;}