@import "colours";
@import "fonts";
@import "mixins";

///////////////////
/* default styles for all widgets */
.widget-container{
	margin-top:10px;
	background-color: #ccc;
}

.sub-title,
.widget-title {
	background-color:$dark_green;
	color:$white_text;
	overflow:hidden;
	margin-top:0px;
	margin-bottom:0px;
	width:auto;
	//font: normal 1.5em Arial, Tahoma, sans-serif;
	color:$white_text;
	padding-left:5px;
	padding-bottom:1px;
}

/////////////
/* widget areas */

#below-header-widgets{
	margin:27px 0px 10px 0px;
	position:relative;
	//left: 10px;
        left: 0px;
	text-align:right;
}
#below-header-widgets h2{
      @include widget-header();
      margin-bottom: 10px;
      width: 200px;
}
#below-header-widgets #s{
   width: 200px;
}

.above-entry-widgets{
	padding-bottom:10px;
}

div#sidebar .widget{
	color:$medium_grey_text;
 	@include rounded (5px);
	@include shadow (5px, $medium_grey_text);
	@include gradient (top, $white_box_gradient1, $white_box_gradient2, $white_box_gradient2);	 
	//font: 1em Arial,Tahoma,sans-serif;
	line-height:1.3em;
	padding: 10px;
}
/*
div#sidebar .widget h2{
   @include widget-header();
}
*/

////////////////////////////////
/* default wordpress widgets */
/* search widget */
#searchsubmit{
	background:none repeat scroll 0 0 $dark_green;
	color:$white_text;
	padding:1px;
}
.widget_gce_widget h2{
	margin-bottom:11px;
} 
.widget_links h2{
	margin-bottom:10px;
} 
.blogroll li{
	border-bottom: 1px dotted #BBBBBB;
}
.blogroll li a{
	padding:0;
}

///////////////////////
/* specific widgets */

@import "gigx-slides";

@import "gigx-sponsors-slides";

@import "testimonials-widget";

@import "gigx-share-buttons";

@import "join-us";


/* wp_bannerize */
.wp_bannerize {  
    text-align: right;
    display:block;      	
}
.wp_bannerize a{
    margin:0;
    padding:0;
}
.wp_bannerize img{
    margin:0;
    padding:0;
}

/* gigx recent posts */
.widget_gigxrecentposts{
	color:$medium_grey_text;
 	@include rounded (5px);
	@include gradient (top, $green_box_gradient2, $green_box_gradient1, $dark_green);	 
	margin:0;
	overflow:hidden;
	padding:10px 10px 0 10px;
}
.widget_gigxrecentposts h2.widget-title {
      background-color: transparent;
      color:$white_text;
      @include harabara;
      margin:0 0 10px 0;
       text-transform:lowercase;       
}

.widget_gigxrecentposts h2.widget-title a{
	color:$white_text;
}
.widget_gigxrecentposts ul.gigx-recent-posts li{
 	@include rounded (5px);
	@include shadow (5px, $medium_grey_text);
	@include gradient (top, $white_box_gradient1, $white_box_gradient2, $white_box_gradient2);	 
	color:$medium_grey_text;
	//font: 1em Arial,Tahoma,sans-serif;
	line-heigh:1.3em;
	overflow:hidden;
	margin:0 0 10px 0;
	padding:10px;
        list-style-type: none;
}
.widget_gigxrecentposts ul.gigx-recent-posts li a{
	//font-size:1.2em;
}
.widget_gigxrecentposts ul.gigx-recent-posts li span.date{
	//font-family: Arial,Tahoma,sans-serif;
	//font-size:10px;
	text-transform: lowercase;
	letter-spacing: normal;
}
.widget_gigxrecentposts img {
	float: left;
	text-align: left;
	display: inline;
	margin:0;
	padding-right:10px;
}


#latest_podcast.widget_gigxrecentposts {background: transparent;padding:10px 10px 0 5px;}
#latest_podcast.widget_gigxrecentposts h2.widget-title {@include arial;text-transform: none;}
#latest_podcast.widget_gigxrecentposts h2.widget-title a {color: $black_text;}
#latest_podcast.widget_gigxrecentposts ul.gigx-recent-posts li {
 	@include rounded (0);
	@include shadow (0, $white_text);
	background: transparent;
        margin-bottom:0;
        padding-bottom:0;
}
/* frontpage news */
div#below-posts-widgets div#gigxrecentposts-7  {
	margin: 0 10px 0 0;
}

/* frontpage podcasts */
div#below-posts-widgets div#gigxrecentposts-3 {
	margin: 0 0 0 0;
}
/////////////////////
/* sidebar widgets */

/* listen */
.rounded_5
{
 	@include rounded (5px);
	background: none repeat scroll 0 0 $white_text;
}

/* tags */
.tagcloud, .ctc{
	margin-top:10px;
   text-align: center;
}
.tagcloud h2, .ctc h2{
   text-align: left;
}
.tagcloud, .ctc {
    //padding: 10px 0;
}
.tagcloud a, .ctc a {

    border-radius: 0.9em 0.9em 0.9em 0.9em;
    color: $medium_grey_text;
    font-size: 0.8em;
    line-height: 2em;
    padding: 0.1em 0.8em;
    white-space: nowrap;
   background-color: white;
   //@include gradient (top, $yellow_gradient2, $yellow_gradient1, $yellow_gradient1);	 
	border: 2px solid $dark_green;
    box-shadow: 0 0 7px #CCCCCC;
}
.tagcloud a:hover, .ctc a:hover {
    text-decoration: none;
	@include gradient (top, $green_box_gradient2, $green_box_gradient1, $dark_green);	 
	color:$white_text;
	//@include harabara-header;
    border: 2px solid $dark_green;
}
.show-tags {margin: 0; width: 290px; text-align: center;float: left; }
.show-tags a{margin:2px; padding: 4px 10px; line-height: 1em; display:inline-block;}

#toc {
   width: auto !important;
}

//search
#s{
   position: absolute;
   z-index: 2000;
   width: 204px;
}
span.list_item_container {
    height: 37px;
    padding: 3px;
   display:block;
   min-width: 200px;
}
span.image {
    width: 50px;
    height: 37px;
    float: left;
   display:block;
}
span.image img {
    width: 50px;
    height: 37px;
}
span.label {
   display:block;
}
.ui-autocomplete .ui-menu-item a:hover {
   cursor: pointer; 
}

/* stuff to add */  
.navigation {
	text-align: center;
}
.navigation a.next {
	float: right;
}
.navigation a.prev{
	float:left;
}
div.navigation {
	color: #83ae2c;
}

/* search */
div#below-posts-widgets .widget_search {
 background-clip: padding-box;
 	@include rounded (5px);
	@include shadow (5px, $medium_grey_text);
	@include gradient (center top, $white_box_gradient1, $white_box_gradient2, $white_box_gradient2);	 
	line-height:1.3em;
	padding: 10px;

}
div#below-posts-widgets .widget_search h2.widget-title {
   @include widget-header();
	margin-bottom: 10px;
}
 
#searchsubmit {
   background: none repeat scroll 0 0 transparent;
   color: transparent;
   padding: 0;
}  

/* below posts widget on home page */
.home div#below-posts-widgets {
 overflow: hidden;
 padding: 0; }

.home div#below-posts-widgets div.widget {
 width: 355px;
 float: left;
 min-height: 600px;
 position: relative;
 display: block; }

.home #below-posts-widgets {
 margin-bottom: 10px; }

div#sidebar .widget h3{
	@include widget-header();
	margin-bottom: 10px;	
}

// hungryfeed
.hungryfeed_item_title{
	display: none;
}
.hungryfeed_feed_title{
	margin: 20px 0 5px 0;
}
div.hungryfeed_item_description td{
	padding: 0 40px 7px 0;
}

// GIGX Latest Tweet
.tweet_time {
    display: block;
    font-weight: bold;
    padding-bottom: 0.1em;
}

.tweet,
.query {
	font: 120% Georgia, serif;
	color: #085258;
}

.tweet_list {
	-webkit-border-radius: 0.5em;
	-moz-border-radius: 0.5em;
	border-radius: 0.5em;
	list-style: none;
	margin: 0;
	padding: 0;
	overflow-y: hidden;
	//background-color: #8ADEE2;
}

.widget ul.tweet_list li {
	overflow-y: auto;
	overflow-x: hidden;
	padding: 0.5em;
	list-style-type: none;

	color: $white_text;
	@include rounded(5px);
	@include gradient(top, $green_box_gradient2, $green_box_gradient1, $dark_green);
	margin-bottom: 10px;
	
}

.tweet_list li a {
	//color: #0C717A;
}

.tweet_list .tweet_even {
	//background-color: #91E5E7;
}

.tweet_list .tweet_avatar {
	padding-right: .5em;
	float: left;
}

.tweet_list .tweet_avatar img {
	vertical-align: middle;
}
.tweet_retweet{
	@extend .more;
	margin-left: 10px;
}
.tweet_text a{
	color: $white_text;
}
.tweet_text a:hover{
	border-bottom: 1px dotted;
}
.tweet_text a.tweet_hashtag {
	//color: $yellow;
}

.gigx-latest-tweets{
	display: none;
}
#gigx-latest-tweets-tweets ul.tweet_list {
	height: 150px;
	overflow: hidden;
}
#gigx-latest-tweets-tweets .tweet_list li {
	height: 150px;
}

