/* TYPOGRAPHY
-------------------------------------------------------------- */
	body {
		font-family:Helvetica, Verdana, Arial, sans-serif;
		color:#444
	}
	/*--- Headings | Überschriften ------------------------------------------------------------------------*/
	h1,h2,h3,h4,h5,h6 {
		font-family: Calibri, "Trebuchet MS", Tahoma, Helvetica, Verdana, sans-serif;
		font-weight: normal
	}
	h1 { font-size: 2.5em; line-height: 0.6em; margin-bottom: 0.6em }             /* 30px */
	h2 { font-size: 2em; line-height: 1em; margin-bottom: 0.75em }               /* 24px */
	h3 { font-size: 1.5em; line-height: 1em; margin-bottom: 1em }                /* 18px */
	h4 { font-size: 1.334em; line-height: 1.125em; margin-bottom: 1.125em }      /* 16px */
	h5, h6 { font-size: 1.1667em; line-height: 1.286em; margin-bottom: 1.286em } /* 14px */
	.sidebar h5, #comments-title, #pings-title, .widget-title,
	#footer h5 { font-size: 1.5em; line-height: 1em; margin-bottom: 1em }
	.page-title { font-size: 1.5em; line-height: 1em; margin-bottom: 1em }
	.page-title span { font-style: italic }

	/* --- general text formatting | Allgemeine Textauszeichnung ------------------------------------------ */
	p, ul, ol, dl, dd, dt, li, blockquote, pre { font-size: 1em; line-height: 1.5em; margin-bottom: 1.5em }

	/* --- Lists | Listen  -------------------------------------------------------------------------------- */
	ul ul, ul ul ul, ul ul ul ul, ol ul, ol ul ul, ol ul ul ul, ol ol, ol ol ol, li  { margin-bottom: 0 }
	ul, ol, dl { margin-left:20px }
	ul { list-style-type:disc }
	ul ul { list-style-type:circle }
	ol { list-style-type:decimal }
	ol ol { list-style-type:lower-latin }
	li { margin-left:20px }
	dt { font-weight:bold }
	dd { margin:0 0 1.5em 20px }
	blockquote, cite, q {
		font-family:Georgia, "Times New Roman", Times, serif;
		font-style:italic
	}
	blockquote { margin-left:20px; margin-right: 20px; color:#666 }
	strong,b { font-weight:bold }
	em,i { font-style:italic }
	big { font-size: 1.1667em; line-height: 1.286em; margin-bottom: 1.286em }
	small { font-size: 0.9166em; line-height: 1.636em; margin-bottom: 1.636em }
	pre, code, kbd, tt, samp, var { font-size:1em }
	pre, code { color:#000 }
	kbd, samp, var, tt { color:#666; font-weight:bold }
	var, dfn { font-style:italic }
	acronym, abbr {
		border-bottom:1px #aaa dotted;
		font-variant:small-caps;
		letter-spacing:.07em;
		cursor:help
	}
	sub, sup { font-size: 0.9166em; line-height:0 }
	hr {
		color:#fff;
		background:transparent;
		margin:0 0 1.5em 0;
		padding:0 0 1.5em 0;
		border:0;
		border-bottom:1px #eee solid
	}

	/*--- Links ----------------------------------------------------------------------------------------- */
	a { color:#4d87c7; background: transparent; text-decoration: none }
	a:visited { color: #036 }
	a:focus { text-decoration: none; color: #000 }
	a:hover,
	a:active { color: #182e7a; text-decoration: none }

	/**
	* ------------------------------------------------------------------------------------------------- #
	*
	* Generic Content Classes
	*
	* (en) standard classes for positioning and highlighting
	* (de) Standardklassen zur Positionierung und Hervorhebung
	*
	* @section content-generic-classes
	*/

	/** we use it for the awaiting moderation message **/
	.info { background:#f8f8f8; color:#666; padding:10px; margin-bottom:1.5em; font-size:0.9167em }
	/** we use it for post is password protected **/
	.warning { background:#fee; color:#400; border:1px #844 solid; padding:10px; margin-bottom:1.5em }
	.hide { display: none }

	.float_left { float: left }
	.float_right { float: right }
	.alignleft { float: left; display: inline; margin-right: 20px; margin-bottom: 1em }
	.alignright  { float: right; display: inline; margin-left: 20px; margin-bottom: 1em }
	.aligncenter,.center { display: block; text-align: center; margin: 0 auto 1em auto }
	.alignnone { margin: 0 0 1em 0 }
	.txt-left { text-align: left }
	.txt-center { text-align: center }
	.txt-right { text-align: right }

	/**
	* ------------------------------------------------------------------------------------------------- #
	*
	* Tables | Tabellen
	*
	* (en) Generic classes for table-width and design definition
	* (de) Generische Klassen für die Tabellenbreite und Gestaltungsvorschriften für Tabellen
	*
	* @section content-tables
	*/

	table { width:auto; border-collapse:collapse; margin-bottom:1.5em; border-top:1px #888 solid; border-bottom:1px #888 solid }
	table caption { text-transform: uppercase }
	table.full, .widget_calendar table { width:100% }
	table.fixed { table-layout:fixed }
	th,td { padding:0.5em }
	thead th { color:#000; border-bottom:1px #800 solid }
	tbody th { background:#e0e0e0; color:#333 }
	tbody th[scope="row"], tbody th.sub { background:#f0f0f0 }
	tbody th { border-bottom:1px solid #fff; text-align:left }
	tbody td { border-bottom:1px solid #eee }
	tbody tr:hover th[scope="row"],
	tbody tr:hover tbody th.sub { background:#f0e8e8 }
	tbody tr:hover td { background:#fff8f8 }

	/** Gallery **/
	.gallery {
		margin: auto;
		overflow: hidden;
		width: 100%;
		list-style-type: none
	}
	.gallery-item {
		float: left;
		margin-left: 0;
		text-align: center
	}
	.gallery-item.last { margin-left: -1px}
	.gallery .gallery-caption { margin-left: 0 }
	.gallery .first, .gallery br { clear: both }
	.col-2 { width: 50% }
	.col-3 { width: 33.333% }
	.col-4 { width: 25% }
	.col-5 { width: 20% }
	.col-6 { width: 16.666% }
	.col-7 { width: 14.285% }
	.col-8 { width: 12.5% }
	.col-9 { width: 11.111% }
	.wp-caption-text { font-size: 0.9167em }
	/* HTML5 Gallery */
	ul.gallery { margin-left: 0 }
	li.gallery-item { display: inline }
	.gallery-icon, .gallery-caption { margin-bottom: 1.5em }
	.gallery figure { display: inline-block }
	.gallery figcaption { margin-top: 1.5em }

	.wp-smiley { margin: 0 }

	.post, .type-attachment, .type-page { margin: 0 0 1.5em 0; overflow: hidden }
	.entry-content { overflow: hidden }
	.postedit { line-height: 1.5em; margin-bottom: 1.5em }

	.entry-meta {
		font-size: 0.9167em;
		line-height: 1.6364em;
		margin-bottom: 1.6364em
	}
	.xf-layout2 .post-meta {
		clear: both
	}
	footer .post-meta { clear: both; margin-bottom: 1.5em }

	.read-more { line-height: 1.5em; float: right }

	.pagination {
		overflow: hidden;
		margin: 0 0 1.5em 0
	}
	.next_link { float: left }
	.previous_link { float: right }
	.backto_link { margin-top: 1.5em }
	nav.backto_link { margin-bottom: 1.5em }

	.skip_top { float: left; display: inline; margin-right: 2em }
	.skip_top span { text-align: left }

	#authorbox {
		overflow: hidden;
		margin-bottom: 1.5em
	}
	#authorbox img.avatar {
		float: left;
		margin: 0 20px 1em 0
	}

	/**
	* Comments | Kommentare
	**/
	.commentlist, .pinglist { margin-left: 0 }
	.commentlist li { list-style-type: none; overflow: hidden }
	.commentlist .children { margin-left: 0 }
	.comment-wrapper {
		overflow: hidden;
		padding: 10px
	}
	.depth-1 { margin-left: 0 }
	.depth-2, .depth-3, .depth-4, .depth-5, .depth-6, .depth-7,
	.depth-8, .depth-9, .depth-10 { margin-left: 20px }

	.jquery_tabs .comment-author { zoom: 0!important }
	cite.fn { font-style: normal; font-size: 1.1667em }
	.comment-meta { font-size: 0.9167em }
	#comments time { display: block; font-size: 0.9167em }
	.reply { float: left }