@import "colours";
@import "mixins";

/*Increase Site Title Size (by Otto)*/
.wp-admin #wphead {
	height: 42px;
}
.wp-admin #wphead h1 {
    font-size: 28px;
    /* font-family: "HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,sans-serif; */
}

/* remove icon next to page title */
/*
.wp-admin .icon32 {
	display:none;
}
*/
/*Reduce Page Heading Size*/

.wrap h2 {
	font-size: 22px;
	line-height: 28px;
	padding: 9px 15px 2px 0;
}

/*Remove pointless publish icon*/

.curtime #timestamp {
	background-image: none;
}
.curtime #timestamp {
	background-position: left top;
	background-repeat: no-repeat;
	padding-left: 0;
}

/* main page background */
html, .wp-dialog {
    background-color: $light_yellow_bg !important;
}

/* new/edit post background */
#post-body {
    background: none repeat scroll 0 0 $light_yellow_bg !important;
    border-bottom-color: $light_yellow_bg !important;
    border-top-color: $light_yellow_bg !important;
}

/* appearance/themes background and padding */
.themes-php .wrap, .theme-install-php .wrap, .appearance_page_custom-background .wrap, .appearance_page_custom-header .wrap{
	//background-color: $caption_bg !important;
	//background-image: -moz-linear-gradient(center top , $grey_box_gradient1, $caption_bg) !important;
	@include gradient(center top, $grey_box_gradient1, $caption_bg,$caption_bg, none, !important);
	padding: 0 10px !important;
}

.themes-php .nav-tab-active, .theme-install-php .nav-tab-active {
font-weight: bold;
}
.themes-php .nav-tab:hover, .theme-install-php .nav-tab:hover {
text-decoration: underline;
}

/*

.themes-php .nav-tab:hover, .themes-php .nav-tab-active {
    border-color: $red;
    border-width: 1px;
	background-color: $caption_bg !important;	
}
.themes-php .nav-tab {
background-color: $main_green;
}
*/

/* appearance/menus background */
#menu-management .nav-tab, .menu-edit #post-body {
	@include gradient(center top, $grey_box_gradient1, $caption_bg,$caption_bg, none, !important);
}

/* appearance/menus header item type text */
.item-type, .postbox-title-action a{
color: $white_text !important;
}
/* appearance/menus header item type position */
.item-controls{
padding: 7px 0 !important;
}


/* mce Editor background */
.mceIframeContainer {
	background-color: $white_text;
}

/* dark green font for menu headings, links, tabs etc */
	/*
	a, #poststuff #edButtonPreview, #poststuff #edButtonHTML, #the-comment-list p.comment-author strong a, #media-upload a.del-link, #media-items a.delete, .plugins a.delete, .ui-tabs-nav a {
		color: $dark_green !important;
	}
	*/

/* main green bg on boxes & widget headers */
.widget .widget-top, .postbox h3, .stuffbox h3{
/*
	background: $main_green !important;
	color: $white_text !important;
	text-shadow: none !important;
	font:13px/18px Georgia,"Times New Roman","Bitstream Charter",Times,serif !important;
*/
	}

/* more widget headers */
#widget-list .widget-top,
.widget .widget-top,
.postbox h3,
.stuffbox h3,
.widefat thead tr th,
.widefat tfoot tr th,
h3.dashboard-widget-title,
h3.dashboard-widget-title span,
h3.dashboard-widget-title small,
.find-box-head,
.sidebar-name,
#nav-menu-header,
#nav-menu-footer,
.menu-item-handle,
#fullscreen-topbar {
	@include gradient(bottom, $green_title_gradient1, $green_title_gradient2,$dark_green);
	color: $white_text !important;
	text-shadow: none !important;
	font:13px/18px Georgia,"Times New Roman","Bitstream Charter",Times,serif !important;
}


/* main green bg on table headers */
.metabox-prefs, h1#site-heading a, .widefat thead tr th, .widefat tfoot tr th, h3.dashboard-widget-title, h3.dashboard-widget-title span, h3.dashboard-widget-title small, .find-box-head, #wphead {
background: $main_green !important; 
color: $white_text !important;
}

/* table headers */
.widefat th {
color: #112845 !important;
text-shadow: none !important;
}
/* White Font for Links on Table Headers */
.widefat thead tr th a, .widefat tfoot tr th a{
color:$white_text !important; 
/* font-size:11px; */
font-weight:normal;
}



/* main header */
.wp-admin #wphead{
	margin: 0 0 0 -15px !important;
	border-color: $dark_green !important;
}
#wphead h1 {
	padding-top: 5px;
}

/* header logo fix */
#header-logo {
	margin: 5px 7px 0 15px !important; 
}

/* screen options */
#screen-options-wrap, #contextual-help-wrap {
    background-color: $main_green;
    border-color: $dark_green;
	color: $white_text;
}

/* screen options & help button */
#screen-options-link-wrap,
#contextual-help-link-wrap {
	border-right: 1px solid transparent;
	border-left: 1px solid transparent;
	border-bottom: 1px solid transparent;
	@include gradient(center bottom, $green_title_gradient1, $green_title_gradient2,$dark_green);
}

/* screen options & help button text */
#screen-meta-links a.show-settings{
text-shadow: none !important;
	color: $white_text !important;
}

/* screen options & help button arrow */
#screen-meta-links a.show-settings,
.toggle-arrow {
	background: transparent url(../images/arrows-dark.png) no-repeat right 3px;
}

/* screen options & help button arrow */
#screen-meta-links .screen-meta-active a.show-settings {
	background: transparent url(../images/arrows-dark.png) no-repeat right -33px;
}

/* post box header arrow */
.meta-box-sortables .postbox:hover .handlediv {
	background: transparent url(../images/arrows-dark.png) no-repeat 6px 7px;
}

/* user info arrow (top-right corner) */
#user_info_arrow {
	background: transparent url(../images/arrows-dark.png) no-repeat 6px 5px;
}
#user_info:hover #user_info_arrow,
#user_info.active #user_info_arrow {
	background: transparent url(../images/arrows.png) no-repeat 6px 5px;
}

/* update nag position fix*/
#update-nag, .update-nag {
margin-left: 0 !important;
}

/* editor toolbar background */
#poststuff #editor-toolbar{
	background: $main_green !important; 
	color: $white_text !important;
}

/* podcast form */
.podcast_form {
    color:$dark_grey_text;
    border-radius: 5px;
    -moz-border-radius: 5px;    
    -moz-box-shadow: 5px 5px 5px $medium_grey_text; 
    -webkit-box-shadow: 5px 5px 5px $medium_grey_text; 
    box-shadow: 5px 5px 5px $medium_grey_text;
	@include gradient(top, $white_box_gradient1, $white_box_gradient2,$white_text);
    margin:20px 0 10px 0;
    overflow:hidden;
    padding:10px;    
}

/* new adminmenu (sidebar)*/

	#adminmenu div.wp-menu-image {float: left;width: 1px;height: 28px;}
	#adminmenu .wp-menu-image a{display: none;}
	#wp-admin-bar-wp-logo{display: none;}
	#adminmenuback, #adminmenuwrap {background-color: $main_green;border-color: $dark_green;border-right-color: #ddd;}
	#adminmenu li.wp-menu-separator {display: none;}
	#adminmenu div.separator {border-color: #0e6ac8;}
	#adminmenu a.menu-top, .folded #adminmenu li.menu-top, #adminmenu .wp-submenu .wp-submenu-head {border-top-color: $dark_green;border-bottom-color: #000;}
	#adminmenu a {color:#fff;}
	#adminmenu .wp-submenu a {color:#777;}
	#adminmenu a:hover, #adminmenu li.menu-top>a:focus, #adminmenu ul.wp-submenu a:hover {color: #fff;}
	#adminmenu li.menu-top:hover>a, #adminmenu li.menu-top.focused>a, #adminmenu li.menu-top>a:focus {background-color: $dark_green;text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);}
	#adminmenu li.wp-not-current-submenu:hover>a {border-top-color: #000;border-bottom-color: #000;}
	#adminmenu li.wp-not-current-submenu .wp-menu-arrow {border-top-color: #000;border-bottom-color: #000;background: $dark_green;}
	#adminmenu li.wp-not-current-submenu .wp-menu-arrow div {background: $dark_green;border-color: #000;}
	#collapse-menu {color: rgba(255,255,255,0.3);}
	#collapse-menu:hover {color: rgba(255,255,255,1.0);}
	#collapse-menu:hover #collapse-button {border-color: rgba(255,255,255,0.4);	@include gradient(center bottom, $medium_grey_text, $dark_green, $dark_green);}
	#collapse-button {border-color: rgba(255,255,255,0.2);@include gradient(center bottom, $dark_grey_text, $black_text, $black_text);}
	#adminmenu .awaiting-mod, #adminmenu .update-plugins, #sidemenu a .update-plugins, #rightnow .reallynow {background-color: #464646;box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);color: #FFFFFF;}
	.folded #adminmenu .wp-submenu-head {border-bottom-color: #ccc;border-top-color: #ccc;}
	.folded #adminmenu li.wp-has-current-submenu, .folded #adminmenu li.current.menu-top {border-bottom-color: #6D6D6D;border-top-color: #808080;}


#adminmenu a.menu-top{
//	@include gradient(bottom, $green_title_gradient1, $green_title_gradient2,$main_green);
}


/* currently selected submenu */
	#adminmenu li.wp-has-current-submenu a.wp-has-current-submenu, #adminmenu li.current a.menu-top, #adminmenu .wp-has-current-submenu .wp-submenu .wp-submenu-head {
		border-bottom-color: $green_title_gradient1;
		border-top-color: $green_title_gradient2;
		color: #FFFFFF;
		text-shadow: 0 -1px 0 #333333;
	}
	#adminmenu li.wp-has-current-submenu a.wp-has-current-submenu, #adminmenu li.current a.menu-top, .folded #adminmenu li.wp-has-current-submenu, .folded #adminmenu li.current.menu-top, #adminmenu .wp-menu-arrow, #adminmenu .wp-has-current-submenu .wp-submenu .wp-submenu-head {
		@include gradient(center bottom, $green_title_gradient1, $green_title_gradient2,$dark_green);
	}
	/* arrow */
	#adminmenu .wp-menu-arrow div {
		@include gradient(right bottom, $green_title_gradient1, $green_title_gradient2,$dark_green);
	}
