@import "colours";
@import "fonts";
@import "mixins";

/* RESET */
@import "reset"; // reset/_utilities.scss from compass
@include global-reset;

// general text formatting
p, ul, ol, dl, dd, dt, li, blockquote, pre { font-size: 1em; line-height: 1.5em; }
// links
a{
	text-decoration: none!important;
}
a:hover{
}
// images
img{
   border:0;
}

// bold,italic
strong, b, strong *, b * { font-weight: bold !important; }
em, i, em *, i * { font-style: italic !important; }

@import "gigx";
@import "global";
@import "structure";
@import "menu";
@import "widgets";