@import "colours";
@import "fonts";
@import "mixins";

/* widget areas */

#below-header-widgets{
	float: left;
	margin:20px 0px 10px 0px;
	position:relative;
	left: 10px;
}

.above-entry-widgets{
	padding-bottom:10px;
}

#above-footer-widgets{	
	padding-top: 10px;
}

.widget-container{
	margin-top:10px;
	background-color: #ccc;
}


/* specific widgets */

/* gigx_slides */
.widget_gigx_slide_widget {
    margin-bottom: 10px;
}

/* wp_bannerize */
.wp_bannerize {  
    text-align: left;
    display:block;      	
}
.wp_bannerize a{
    margin:0;
    padding:0;
}
.wp_bannerize img{
    margin:0;
    padding:0;
}

/* advanced recent posts */
.widget_advancedrecentposts{
	@include rounded(5px);
	@include gradient(top, $green_box_gradient2, $green_box_gradient1,$dark_green);	 
	color:$medium_grey_text;
	overflow:hidden;
	padding:10px 10px 0 10px;
	margin:10px 0;
}
.widget_advancedrecentposts h2.widget-title {
    background-color: transparent;
    color:$white_text;
	font-family: 'HarabaraRegular',Arial,sans-serif;
	font-size: 20px;
	letter-spacing: 2px;
    margin:0 0 10px 0;
}
.widget_advancedrecentposts h2.widget-title a{
	color:$white_text;
}
.widget_advancedrecentposts ul.advanced-recent-posts li{
 	@include rounded (5px);
	@include shadow (5px, $medium_grey_text);
	@include gradient (top, $white_box_gradient1, $white_box_gradient2, $white_box_gradient2);	 
	color:$medium_grey_text;
	font: 1em Arial,Tahoma,sans-serif;
	line-heigh:1.3em;
	overflow:hidden;
	margin:0 0 10px 0;
	padding:10px;
}
.widget_advancedrecentposts ul.advanced-recent-posts li a{
	font-size:1.2em;
}
.widget_advancedrecentposts ul.advanced-recent-posts li span.date{
	font-family: Arial,Tahoma,sans-serif;
	font-size:10px;
	text-transform: lowercase;
	letter-spacing: normal;
}
.widget_advancedrecentposts img.recent-posts-thumb {
	float: left;
	text-align: left;
	display: inline;
	margin:0;
	padding-right:10px;
}


/* gigx recent posts */
.widget_gigxrecentposts{
	color:$medium_grey_text;
 	@include rounded (5px);
	@include gradient (top, $green_box_gradient2, $green_box_gradient1, $dark_green);	 
	margin:0;
	overflow:hidden;
	padding:10px 10px 0 10px;
}
.widget_gigxrecentposts h2.widget-title {
    background-color: transparent;
    color:$white_text;
	font-family: 'HarabaraRegular',Arial,sans-serif;
	font-size: 20px;
	letter-spacing: 2px;
    margin:0 0 10px 0;
}
.widget_gigxrecentposts h2.widget-title a{
	color:$white_text;
}
.widget_gigxrecentposts ul.gigx-recent-posts li{
 	@include rounded (5px);
	@include shadow (5px, $medium_grey_text);
	@include gradient (top, $white_box_gradient1, $white_box_gradient2, $white_box_gradient2);	 
	color:$medium_grey_text;
	font: 1em Arial,Tahoma,sans-serif;
	line-heigh:1.3em;
	overflow:hidden;
	margin:0 0 10px 0;
	padding:10px;
}
.widget_gigxrecentposts ul.gigx-recent-posts li a{
	font-size:1.2em;
}
.widget_gigxrecentposts ul.gigx-recent-posts li span.date{
	font-family: Arial,Tahoma,sans-serif;
	font-size:10px;
	text-transform: lowercase;
	letter-spacing: normal;
}
.widget_gigxrecentposts img.recent-posts-thumb {
	float: left;
	text-align: left;
	display: inline;
	margin:0;
	padding-right:10px;
}



/* widget defaults */
/* search widget */
#searchsubmit{
	background:none repeat scroll 0 0 $dark_green;
	color:$white_text;
	padding:1px;
}
.widget_gce_widget h2{
	margin-bottom:11px;
} 
.widget_links h2{
	margin-bottom:10px;
} 
.blogroll li{
	border-bottom: 1px dotted #BBBBBB;
}
.blogroll li a{
	padding:0;
}

.page-title {
	background-color:$dark_green;
	overflow:hidden;
	margin-top:0px;
	margin-bottom:10px;
	width:auto;
	font: normal 1.5em Arial, Tahoma, sans-serif;
	color:$white_text;
	padding-left:5px;
	padding-bottom:1px;
}
.page-title a {
	color:$white_text;
}

.sub-title,
.widget-title {
	background-color:$dark_green;
	color:$white_text;
	overflow:hidden;
	margin-top:0px;
	margin-bottom:0px;
	width:auto;
	font: normal 1.5em Arial, Tahoma, sans-serif;
	color:$white_text;
	padding-left:5px;
	padding-bottom:1px;
}

.post-title {
	font-weight:bold;
	margin:5px 0 5px;
}

.postdate, .postauthor, .postcategories {
	font-size:90%;
	text-transform: lowercase;
	margin-left: 0px;
}

/* below posts widget */
div#below-posts-widgets{
	margin:0 0 10px 0;
	overflow:hidden;
	padding:0;
}
div#below-posts-widgets div.widget{
    width: 345px;
	float: left;
	min-height:382px;
	position:relative;
	display:block;
}
div#below-posts-widgets div#gigxrecentposts-7  {
	margin: 0 10px 0 0;
}

div#below-posts-widgets div#gigxrecentposts-3 {
	margin: 0 0 0 0;
}
div#text-3{
	color:$medium_grey_text;
 	@include rounded (5px);
	@include shadow (5px, $medium_grey_text);
	@include gradient (top, $white_box_gradient1, $white_box_gradient2, $white_box_gradient2);	 
	font: 1em Arial,Tahoma,sans-serif;
	line-height:1.3em;
	padding: 10px;
}

div#text-3  h2.widget-title{
    background-color: transparent;
    color: $white_text;
    font-family: 'HarabaraRegular',Arial,sans-serif;
    font-size: 20px;
    letter-spacing: 2px;
    margin: 0 0 10px;
}
div#text-3 a {
color: $white_text;
}

.gigx-slideshow {
height: 262px;
}
div#sidebar .widget{
	color:$medium_grey_text;
 	@include rounded (5px);
	@include shadow (5px, $medium_grey_text);
	@include gradient (top, $white_box_gradient1, $white_box_gradient2, $white_box_gradient2);	 
	font: 1em Arial,Tahoma,sans-serif;
	line-height:1.3em;
	padding: 10px;
}
div#sidebar .widget h2{
 	@include rounded (5px);
	@include gradient (top, $green_box_gradient2, $green_box_gradient1, $dark_green);	 
	color:$white_text;
	font-family: 'HarabaraRegular',Arial,sans-serif;
	font-size: 20px;

}

.rounded_5{
	background: none repeat scroll 0 0 $white_text;
}

#cam105_now_playing-3{
 	@include rounded (5px);
	@include shadow (5px, $medium_grey_text);
	@include gradient (top, $white_box_gradient1, $white_box_gradient2, $white_box_gradient2);	 
	color:$medium_grey_text;
	font: 1em Arial,Tahoma,sans-serif;
	line-height:1.3em;
	padding: 10px;
}
#cam105_now_playing-3 h2{
 	@include rounded (5px);
	@include gradient (top, $green_box_gradient2, $green_box_gradient1, $dark_green);	 
	color:$white_text;
	font-family: 'HarabaraRegular',Arial,sans-serif;
	font-size: 20px;
}
#yoast-breadcrumb-widget{
	display:none;
}
/* sidebar widgets */
.rounded_5
{
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.tagcloud, .ctc{
	margin-top:10px;
}


.pp_pic_holder a{
	padding:0;
}